#paneGreen {
	-fx-background-color: green;
}
#paneRed {
	-fx-background-color: red;
}
#paneYellow {
	-fx-background-color: yellow;
}

.border {
	-fx-border-color: black;
	-fx-border-style: solid;
    -fx-border-width: 5px;
}
